% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Admin Dashboard</h1>
                    <h3>For administrators only!</h3>
                    <hr class="intro-divider">
                    <a href="/blog/new"><h3>Create a blog</h3></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}